# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.playwright-report
test-results

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.vscode/

# Local env files
.env
.env.*
!.env.test
!.env.example

# Python .venv
.venv

# GitHub
.github/prompts
.github/mcp

# Claude Code
CLAUDE.md
.claude/

# git rebase conflict
*.orig

# turbo
.turbo

# Playwright
test-results/
playwright-report/
blob-report/

# Vitest coverage reports
coverage/
