@import "tailwindcss";
@import "@swissgeo/map/stylesheet";
@import "@fontsource/inter";
@import "@swissgeo/dimension/stylesheet";

@source "../../../../skeleton/";
@source "../../../../content/";
@source "../../../../map/";
@source "../../../../dimension/";

@custom-variant dark (&:where(.dark-mode, .dark-mode *));
@import "@nuxt/ui";
@source "../../../../skeleton/src/**/*.{vue,ts,js,tsx,jsx}";

@theme static {
  --font-sans: "Inter", system-ui, sans-serif;

  --color-petrol-50: #e0ecf1;
  --color-petrol-100: #c1dde6;
  --color-petrol-200: #97c4d3;
  --color-petrol-300: #64a6bb;
  --color-petrol-400: #448ea7;
  --color-petrol-500: #1c6b85;
  --color-petrol-600: #18576c;
  --color-petrol-700: #084255;
  --color-petrol-800: #0c2d38;
  --color-petrol-900: #0c1c21;
  --color-petrol-950: #091316;

  --color-salmon-50: #f7ebe4;
  --color-salmon-100: #f5e0d6;
  --color-salmon-200: #f6d5c6;
  --color-salmon-300: #f3c8b4;
  --color-salmon-400: #ecab8d;
  --color-salmon-500: #e28054;
  --color-salmon-600: #c56033;
  --color-salmon-700: #90411d;
  --color-salmon-800: #652f16;
  --color-salmon-900: #461e0c;
  --color-salmon-950: #271107;

  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;

  --color-cyan-50: #eefcfd;
  --color-cyan-100: #d4f5f9;
  --color-cyan-200: #aeeaf3;
  --color-cyan-300: #76d8ea;
  --color-cyan-400: #37bed9;
  --color-cyan-500: #1ba2bf;
  --color-cyan-600: #1a82a0;
  --color-cyan-700: #1c6b85;
  --color-cyan-800: #1f576b;
  --color-cyan-900: #1e485b;
  --color-cyan-950: #0e2e3e;

  --color-black: #0e0f0f;
  --color-white: #ffffff;
}

@layer base {
  button:enabled,
  [role="button"]:not([aria-disabled="true"]) {
    @apply cursor-pointer;
  }

  button:disabled,
  [role="button"][aria-disabled="true"] {
    @apply cursor-not-allowed;
  }

  button:focus-visible,
  [role="button"]:focus-visible {
    @apply outline-[3px] outline-offset-2 outline-secondary;
  }
}

h1 {
  @apply text-4xl;
  @apply pb-8;
  @apply text-primary;
}

h2 {
  @apply text-2xl;
  @apply pt-12 pb-8 first-of-type:pt-2;
}

body {
  /* We have to reset these variables here again. I don't quite know why
    but it seems that tailwind removes them if they're not referenced anywhere.
    They're probably only used to create the variants, then dropped.
    But for our in-JS desktop/mobile switch we need access to those, hence
    the explicit resetting here */
  --breakpoint-sm: var(--breakpoint-sm);
  --breakpoint-md: var(--breakpoint-md);
  --breakpoint-lg: var(--breakpoint-lg);
  --breakpoint-xl: var(--breakpoint-xl);
  --breakpoint-2xl: var(--breakpoint-2xl);
}
