@import "tailwindcss";
@import "@swissgeo/map/stylesheet";
@import "@fontsource/inter/latin-400.css";
@import "@fontsource/inter/latin-ext-400.css";
@import "@fontsource/inter/latin-500.css";
@import "@fontsource/inter/latin-ext-500.css";
@import "@fontsource/inter/latin-600.css";
@import "@fontsource/inter/latin-ext-600.css";
@import "@fontsource/inter/latin-700.css";
@import "@fontsource/inter/latin-ext-700.css";
@import "@swissgeo/dimension/stylesheet";

@source "../../../../skeleton/";
@source "../../../../content/";
@source "../../../../map/";
@source "../../../../dimension/";

@import "@nuxt/ui";

@theme static {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-interface: "Inter", system-ui, sans-serif;
  --font-editorial: "Inter", system-ui, sans-serif;
  --leading-heading: 1.2;
  --leading-small-text: 1.3;
  --breakpoint-tablet: 45rem;
  --breakpoint-desktop: 64rem;

  --color-petrol-50: #e0ecf1;
  --color-petrol-100: #c1dde6;
  --color-petrol-200: #97c4d3;
  --color-petrol-300: #64a6bb;
  --color-petrol-400: #448ea7;
  --color-petrol-500: #1c6b85;
  --color-petrol-600: #18576c;
  --color-petrol-700: #084255;
  --color-petrol-800: #0c2d38;
  --color-petrol-900: #0c1c21;
  --color-petrol-950: #091316;

  --color-salmon-50: #f7ebe4;
  --color-salmon-100: #f5e0d6;
  --color-salmon-200: #f6d5c6;
  --color-salmon-300: #f3c8b4;
  --color-salmon-400: #ecab8d;
  --color-salmon-500: #e28054;
  --color-salmon-600: #c56033;
  --color-salmon-700: #90411d;
  --color-salmon-800: #652f16;
  --color-salmon-900: #461e0c;
  --color-salmon-950: #271107;

  --color-black: #0e0f0f;
}

@layer components {
  :where(.type-lead) {
    @apply font-editorial text-2xl leading-normal font-normal;
  }

  :where(.type-paragraph) {
    @apply font-editorial text-lg leading-normal font-medium;
  }

  :where(.type-paragraph-bold) {
    @apply font-editorial text-lg leading-normal font-semibold;
  }

  :where(.type-text-big) {
    @apply font-editorial text-base leading-normal font-normal;
  }

  :where(.type-text-small) {
    @apply font-editorial text-sm leading-small-text font-normal;
  }

  :where(.type-text-small-bold) {
    @apply font-editorial text-sm leading-small-text font-bold;
  }

  .type-content-hero-title {
    @apply pb-8 font-editorial text-5xl leading-heading font-semibold text-default md:text-7xl;
  }
}

@layer base {
  button:enabled,
  [role="button"]:not([aria-disabled="true"]) {
    @apply cursor-pointer;
  }

  button:disabled,
  [role="button"][aria-disabled="true"] {
    @apply cursor-not-allowed;
  }

  button:focus-visible,
  [role="button"]:focus-visible {
    @apply outline-[3px] outline-offset-2 outline-secondary;
  }

  h1 {
    @apply pb-8 font-editorial text-7xl leading-heading font-semibold text-primary;
  }

  h2 {
    @apply pt-12 pb-8 font-editorial text-5xl leading-heading font-semibold first-of-type:pt-2;
  }

  h3 {
    @apply font-editorial text-3xl leading-heading font-semibold;
  }

  h4 {
    @apply font-editorial text-xl leading-heading font-semibold;
  }

  h5 {
    @apply font-editorial text-lg leading-normal font-semibold;
  }
}

:root {
  --ui-header-height: 4rem;
}

@media (min-width: 96rem) {
  :root {
    --ui-header-height: 6rem;
  }
}
